<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gocart-Home</title>
</head>
<body>
    <div align="right">
        <h1>Gocart</h1>
        <h5>{{admin}} is the current admin</h5>
    </div>
    <hr>
    <div style="margin: auto;" align="center">
        <h2>Welcome to online shopping</h2>
        <a href="login.html">login</a> &nbsp  &nbsp <a href="signup.html">signup</a>
    </div>
    
</body>
</html>